<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="customerService" class="org.example.service.CustomerServiceImpl">
        <constructor-arg name="customerDao" ref="customerDao"/>
    </bean>
    <bean name="customerDao" class="org.example.dao.CustomerDaoImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/hr"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
    </bean>

</beans>